<tr id="{{inventory._id}}" data-id="{{inventory._id}}" class="inventory-listing">
  <td scope="row">{{inventory.name}}</td>
  <td>{{inventory.quantity}}</td>
  <td>${{inventory.price}}</td>
  {{> update-inventory id=inventory._id}}
  {{> delete-inventory id=inventory._id}}
  {{> qr-code id=inventory._id}}
</tr>
