<tr id="{{inventory._id}}" data-id="{{inventory._id}}" class="inventory-listing">
  <td scope="row">{{inventory.name}}</td>
  <td>{{inventory.quantity}}</td>
  <td>${{inventory.price}}</td>
  <td>{{> update-inventory id=inventory._id}}</td>
  <td>{{> delete-inventory id=inventory._id}}</td>
</tr>