<table class="table table-hover inventory-content">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="item">
    {{#if inventories}}
      {{#each inventories as |inventory|}}
        <tr id="{{inventory._id}}" data-id="{{inventory._id}}" class="inventory-listing">
          <td scope="row">{{inventory.name}}</td>
          <td>{{inventory.quantity}}</td>
          <td>${{inventory.price}}</td>
          {{> update-inventory id=inventory._id}}
          {{> delete-inventory id=inventory._id}}
          {{> qr-code id=inventory._id}}
          {{> quick-change-add id=inventory._id quantity=inventory.quantity}}
          {{> quick-change-minus id=inventory._id quantity=inventory.quantity}}
          <div class="modal" id="qr-code-modal-{{inventory._id}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">QR Code</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h5>QR Code</h5>
                  <p>
                    <img src={{inventory.qr}} alt='code'>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-info close-update-btn" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
      {{/each}}
  </tbody>
</table>

    {{else}}
  </tbody>
</table>
      <div class="container text-center empty-table">
        <p class="text-muted">No items in inventory. Create some!</p>
      </div>
{{/if}}
